web/** linguist-vendored
pi-gen-sources/** linguist-vendored
run/** linguist-vendored
setup/** linguist-vendored
tools/** linguist-vendored
tests/** linguist-vendored
server/** linguist-vendored
crates/sentryusb/static/** linguist-generated
